@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Sriracha&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: auto;
}

.container-header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color:red;
}

.title-header{
    position: absolute;
    left: 10px;
    color: #fff;
    z-index: 1;
    font-family: "Balsamiq Sans";

}

.menu{
    display: table;
    margin-right: 20px;
    z-index: 1;
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    transition: all .7s ease-out;
}

li a:hover{
    background: #fff;
    color: #000;
}

.menu-icon{
    width: 80px;
    z-index: 2;
    display: flex;
    align-items: center;
    display: none;
}

#menu-bar{
    font-size: 30px;
    border-radius: 5px;
    padding: 8px 10px;
    background-color: transparent;
    color: #fff;
    border:2px solid #fff;
}

#menu-bar:hover{
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

#close{
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    padding: 10px;
   
}


.banner{
    width:100%;
    height: 500px;
    background-color: #ccc;
    margin-top: -80px;
    background-image: url("../img/2.jpg");
    background-position: center;
    background-size: cover;
}

.container-banner{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: rgba(0,0,0,0.6);
}

.description-banner{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background: transparent;
    text-shadow: 0px 0px 5px #000;
    top: 20%;
}

.name-description{
    color: #FF5733;
    font-family: "Balsamiq Sans";
    font-size: 40px;
    text-shadow: 0px 0px 5px #000;
}

.sub-description{
    color: #ccc;
    font-family: "Sriracha";
     text-shadow: 0px 0px 5px #000;
}

.img-banner{
    width: 120px;
    clip-path: circle(60px at 60px);
    margin: 0 auto;
}

.icons{
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}

.fab{
    color: #fff;
    padding: 20px 25px;
    display: flex;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #111;
    background-color: rgba(0,0,0,0.8);
    font-size: 22px;
    transition: background .5s ease-out;
}

.fab:hover{
    background-color: #fff;
    color: #000;
}

.About{
    width: 100%;
    background-color: #111;
    padding: 0px 0px 50px;
}

.container-img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 10px 0px;
}

.img-a{
    width: 200px;
    display: table;
    clip-path:circle(100px at 100px);
}

.description-about{
    width: 100%;
    padding: 0px 0px 20px 0px;
}

.title-description{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.t1{
    color: #fff;
    font-size: 30px;
    font-family: "Balsamiq Sans";
    border-bottom: 4px solid #FF5733;
    display: table;
}

.description-content{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border: 4px dashed #FF5733;
    line-height: 30px;
}

.description-content p{
    color: #fff;
    font-size: 18px;
}



.proyectos{
    width: 100%;
    height: auto;
    background-color: #444;
    padding: 30px 0px 0px 0px;
}


.title-proyectos{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.t2{
    font-size: 40px;
    padding: 0px 20px;
    font-family: "Balsamiq Sans";
    border-bottom: 4px solid #FF5733;
    color: #fff;
}

.content-project{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px 0px;
}

.item{
    width:100%;
    height: 300px;
    background: red;
    margin: 5px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#item1{
    background-image: url("../img/item1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fondo{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .5s ease-out;
}

.fondo:hover{
        background-color: rgba(0,0,0,.7);
}

.fa-eye{
    font-size: 40px;
    color: #fff;
    visibility: hidden;
}

.fondo:hover .fa-eye{
    visibility: visible;
}


#item2{
    background-image: url("../img/item2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#item3{
    background-image: url("../img/item3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#item4{
    background-image: url("../img/item4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#item5{
    background-image: url("../img/item5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#item6{
    background-image: url("../img/item6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contacto{
    position: relative;
    width: 100%;
    background-color: #111;
    padding: 50px 0px;
}

.formulario{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;;
    border-radius: 5px;
    padding: 20px;
}

.title-cont{
    color: #000;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-family: "Balsamiq Sans";
}

.title-form{
    border-bottom: 4px solid #FF5733;
    padding: 0px 20px;
}

.formulario .email,.name{
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FF5733;
    margin: 15px 0px;
    font-size: 15px;
    color: #000;
    outline: none;
}

.email,name:focus{
    background-color: transparent;
}

.btn{
    border: none;
    background-color: #FF5733;
    padding: 10px;
    font-size: 20px;
    font-family: "Sriracha";
    margin: 15px 0px;
    cursor: pointer;
}

.msg{
    font-size: 18px;
    font-family: "Balsamiq Sans";
    padding: 10px 0px;
}

.text-area{
    padding: 5px;
    resize: none;
    font-size: 18px;
    border: 2px solid #FF5733;
}

.text-area:focus{
    outline: none;
}

@media screen and (min-width:280px){
    .menu{
        width: 100%;
        background-color: #111;
        margin-right: 0;
        position: absolute;
        top: 80px;
        display: none;
        
    }
    
    li{
        display: block;
    }
    
    li a{
        display: block;
        padding: 15px;
    }
    
    
    #menu-icon{
        width: 50px;
        margin-right: 20px;
        display: block;
    }
    
    #close{
        display: none;
    }
    
    .formulario{
        width: 95%;
        height: 500px;
    }
    
}

@media screen and (min-width:728px){
    .content-project{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .item{
        width: 45%;
    }
    
    .formulario{
        width: 500px;
        height: auto;
    }
    
     .menu{
        width: 540px;
        background-color: transparent;
        top: 20px;
        right: 20px;
        display: block;
    }
    
    li{
        display: inline-block;
    }
    
    li a{
        padding: 10px 30px;
    }
    
    #menu-icon{
        display: none;
    }
}



@media screen and (min-width:1024px){
    
    .About{
        display: flex;
        padding: 80px;
    }
    
    .container-img{
        width: 40%;
        padding: 20px;
    }
    
    .img-a{
        width: 300px;
        clip-path:none;
        border-radius: 5px;
    }
    
    
    .description-about{
        width: 60%;
    }
    
    .title-description{
        justify-content: flex-start;
        margin-left: 42px;
        padding: 20px 0px;
    }
    
    .content-project{
        width: 90%;
        margin: 0 auto;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    
    .item{
        width: 30%;
        
    }
     .contacto{
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px;
    }
    
    .formulario{
        width: 35%;
        height: auto;
        margin: 0px 10px;
    }
    
    .galery{
        width: 65%;
        float: right;
    }
    
    .title-galery{
        color: #fff;
        text-align: center;
        font-size: 40px;
        padding: 80px 0px 0px 0px;
        font-family:  "Sriracha";
    }
    
    .galeria-items{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    
    .galery-item{
        width: 30%;
        margin: 5px;
        height: 200px;
        background: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
    
    #g1{
        background-image: url("../img/1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s ease-out;
    }
    #g2{
        background-image: url("../img/3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s ease-out;
    }
    #g3{
        background-image: url("../img/4.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s ease-out;
    }
    #g4{
        background-image: url("../img/5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s ease-out;
    }
    #g5{
        background-image: url("../img/6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s ease-out;
    }
    #g6{
        background-image: url("../img/7.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: all .5s ease-out;
    }
    
    #g1:hover{
        transform: translateY(-5px);
    }
    
    #g2:hover{
        transform: translateY(-5px);
    }
    
    #g3:hover{
        transform: translateY(-5px);
    }
    
    #g4:hover{
        transform: translateY(-5px);
    }
    
    #g5:hover{
        transform: translateY(-5px);
    }
    
    #g6:hover{
        transform: translateY(-5px);
    }
    
    .menu{
        width: 540px;
        background-color: transparent;
        top: 20px;
        right: 20px;
        display: block;
    }
    
    li{
        display: inline-block;
    }
    
    li a{
        padding: 10px 30px;
    }
    
    #menu-icon{
        display: none;
    }
}
